<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js" integrity="sha256-qh2AzfCZDpeiEGmrFsBI75CjXfEWW4fRmsyr18TtyGA=" crossorigin="anonymous"></script>

    {% block footer %}
    {% endblock %}
</body>
</html>
